* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    background-image: url("./assets/weather.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.container {
    max-width: 450px;
}

input {
    font-size: 24px !important;
}

input:focus {
    outline: none !important
}